@import '../../styles/varialbles';

.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	&.default {
		border-radius: $borderRadius;
		padding: 0.75rem 1.5rem;
		transition: .3s background-color ease-in;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1;

		&.primary {
			background-color: $mainColor;
			border: 1px solid $mainColor;
			color: #fff;

			&:hover {
				background-color: $hoverMainColor;
				border-color: $hoverMainColor;
			}
		}

		&.secondary {
			background-color: #fff;
			color: $textColor;
			border: 1px solid $secondaryColor;

			&:hover {
				background-color: $hoverSecondaryColor;
				border-color: $hoverSecondaryColor;
			}
		}
	}
}