@import '../../styles/varialbles';

.header {
	width: 100%;
	border-bottom: 1px solid $mainColor;
	padding: 10px 0;
}

.headerContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerLogo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 50px;

	@media(max-width: $md) {
		margin-right: 30px;
	}
}

.headerMenuBlock {
	display: flex;
}

.headerLeft {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.headerRight {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.headerFavourite {
	margin-top: 5px;
	margin-right: 25px;
}

.headerProfile {}