@import '../../styles/varialbles';

.carListContainer {
	margin-bottom: 30px;
}

.carList {
	display: flex;
	flex: 0 0 100%;
	max-width: 100%;

	&.flat {
		flex-wrap: wrap;
		gap: 30px 5%;
	}

	&.list {
		flex-direction: column;
		gap: 15px;

		@media(max-width: $xs) {
			gap: 25px;
		}
	}

}