@import '../../styles/varialbles';

.headerMenu {

	@media(max-width:$xs) {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 1rem;

		li {

			a {
				text-decoration: none;
				color: $mainColor;
				font-size: 1rem;
				line-height: 1;
				transition: .3s all ease;

				@media(max-width: $md) {
					font-size: 0.9rem
				}

				&:hover {
					color: $hoverMainColor;
					text-decoration: underline;
				}

				&.active {
					color: $hoverMainColor;
					font-weight: 600;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.footerMenu {

	ul {
		display: flex;
		align-items: center;
		gap: 1rem 2rem;
		flex-wrap: wrap;

		@media(max-width: $xs) {
			flex-direction: column;
		}


		li {

			a {
				text-decoration: none;
				color: #fff;
				font-size: 1rem;
				line-height: 1;
				transition: .3s all ease;

				&:hover {
					color: #fff;
					text-decoration: underline;
				}

				&.active {
					color: #fff;
					font-weight: 600;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.mobileMenu {

	margin-top: 50px;

	ul {
		display: flex;
		align-items: center;
		gap: 1.5rem;

		@media(max-width: $xs) {
			flex-direction: column;
		}

		li {

			a {
				text-decoration: none;
				color: $mainColor;
				font-size: 1rem;
				line-height: 1;
				transition: .3s all ease;

				&:hover {
					color: $hoverMainColor;
					text-decoration: underline;
				}

				&.active {
					color: $hoverMainColor;
					font-weight: 600;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}