$fontFamily: 'Montserrat', 'Arial', sans-serif;
$fontSize: 16px;

$minWidthContainer: 320px;
$maxWidthContainer: 960px;
$paddingContainer: 0 15px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$xs: 576px;

$textColor: #111;
$textColorLight: #11111180;
$footerColor: #333;
$mainColor: #8e63d2;
$hoverMainColor: #42246f;
$secondaryColor: #ccc;
$hoverSecondaryColor: #d5d5d5;
$errorColor: #dc3545;
$borderRadius: 0.75rem;