@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

@import-normalize;
@import './varialbles';
@import './null';

@import "~react-image-gallery/styles/scss/image-gallery.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $fontSize;
}

body {
  font-family: $fontFamily;
  color: $textColor;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.1rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 1.5rem 0 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 15px;

  a {
    text-decoration: none;
    color: $mainColor;
    font-size: 1rem;
    line-height: 1;
    transition: 0.3s all ease;

    &:hover {
      color: $hoverMainColor;
      text-decoration: underline;
    }
  }
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 20px;
  height: 40px;
}

.image-gallery-play-button {
  display: none;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
}

.image-gallery-slide {
  width: 100%;
  aspect-ratio: 740/460;
  background: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.image-gallery-content.fullscreen .image-gallery-slide {
  aspect-ratio: initial;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  font-size: 0;
  aspect-ratio: 240/150;
  background: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.image-gallery-thumbnail {
  border-radius: 10px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border-width: 2px;
}

.image-gallery-fullscreen-button {
  padding: 10px 9px 5px 10px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
}

.image-gallery-content.fullscreen .image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: center;
}